a {
	font-size: 1rem;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 100%;
	padding: 0.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}

a:hover {
	border-color: rgb(143, 235, 163);
	color: rgb(143, 235, 163);
}
