main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	color: #ffffff;
}
.mascot-area {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.mascot-area img {
	height: 18rem;
	width: 18rem;
	/* position: relative; */
	/* transform: translateY(-35%); */
}
