main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 1rem;
	color: #ffffff;
}
.mascot-area {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.social-media-links {
	display: flex;
	flex-direction: row;
}
.social-media-links a + a {
	margin-left: 2.5rem;
}
.mascot-area img {
	height: 17rem;
	width: 13rem;
	/* position: relative; */
	/* transform: translateY(-35%); */
}
